.nav-pills>li>a {
	border-radius: 10px;
	border-top: 3px solid transparent;
	color: #ffff;
	font-size: 20px;
	background-color:#C5BD96;
	padding: 3px 25px 3px 25px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	color: #fff;
	background-color: #958953;
	border: none;
	padding: 6px 30px 6px 30px;
}

#bonding-request-modal-header {
	background-color: #1F487C;
	border-bottom: none;
}

.container-1 {
	width: 100%;
	position: absolute;
	bottom: 15px;
	right: -13px;
	font-size: 20px;
}

.bonding-request-modal-margin {
	margin: -5px 10px 30px;
}

.industry {
	color: #C6D9F2; 
	font-size: 19px;
}

.industry-type {
	font-size: 19px; 
	color: #1F487E;
}

.bg-bonding-request-modal {
	background-color: #4A85BA;
}

.number {
	font-size: 30px; 
	color: #C6D9F2;
}

.type {
	font-size: 18px; 
	position: absolute; 
	top: 8px; 
	color: #1F487E;
}

.bg-1 {
	background-color: #2E8999;
}

.bg-2 {
	background-color: #C6D9F2; 
	height: 42px;
}

.bg-3 {
	background-color: #1F487E;
}

.bg-4 {
	background-color: #B7DDE8;
}

.bg-5 {
	background-color: #366090
}

.bg-6 {
	background-color: #5482BC
}

.bg-7 {
	background-color: #507FB9
}

.bg-8 {
	background-color: #DAE5F1;
	padding: 18px 0;
}

.bg-9 {
	background-color: #B7DDE8;
	padding: 18px 0;
}

.bg-10 {
	background-color: #122441; 
}

.bg-11 {
	background-color: #DAE5F1; 
	height: 60px;
}

.bg-12 {
	background-color: #B7DDE8; 
	height: 60px;
}

.bg-13 {
	background-color: #4e82bd;
    margin-top: 7px;
    padding: 9px;
}

.btn-agree {
	background-color: #26415F;
	color: #ffff;
	font-size: 15px
}

.btn-cancel-br {
	background-color: #9e292b;
	color: #ffff;
	font-size: 15px;
}

.tab-row {
	padding: 40px
}

.br-container {
	padding: 20px;
	width: 100%
}

.br-task {
	width: 31%;
	margin: 5px 10px
}

.clr-1 {
	color: #97b1d2;
}

.clr-2 {
	color: #c9f675;
}

.bg-btn-pipeline {
	background-color: #1F487C;
}
