.nav-pills>li>a{
  border-radius: 10px;
  border-top: 3px solid transparent;
  color: #ffff;
  font-size: 20px;
  background-color:#C5BD96;
  padding: 4px 25px 4px 25px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  color: #fff;
  background-color: #958953;
  border: none;
  padding: 8px 30px 8px 30px;
}

#bonding-request-modal-header {
	background-color: #1F487C;
	border-bottom: none;
}

.container-1 {
	width: 100%;
	position: absolute;
	bottom: 15px;
	right: -13px;
	font-size: 20px;
}

.bonding-request-modal-margin {
	margin: -5px 10px 30px;
}

.industry {
	color: #C6D9F2; 
	font-size: 19px;
}

.industry-type {
	font-size: 19px; 
	color: #1F487E;
}

.bg-bonding-request-modal {
	background-color: #4A85BA;
}

.number {
	font-size: 30px; 
	color: #C6D9F2;
}

.type {
	font-size: 18px; 
	position: absolute; 
	top: 8px; 
	color: #1F487E;
}

.bg-1 {
	background-color: #2E8999;
}

.bg-2 {
	background-color: #C6D9F2; 
	height: 42px;
}

.bg-3 {
	background-color: #1F487E;
}

.bg-4 {
	background-color: #B7DDE8;
}

