.content{
    background-color: #ffffff;
    
}
.main-area{
    margin-top: 2%;
    border:1px solid lightgray;
}
.logo-area{
    padding:1% 1%;
    border-bottom:1px solid lightgray;
}


.bizVaultNav {
    float: left;
    width: 5%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    text-align: center;
}
.bizVaultNav ul {
    list-style-type: none;
    padding: 0;
}
.bizVaultArticle {
    float: left;
    padding: 20px;
    width: 95%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
}
.bizVaultSection:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.bizVaultFooter {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    .bizVaultNav, .bizVaultArticle {
      width: 100%;
      height: auto;
    }
  }