.content{
    background-color: #ffffff;
    
}
.main-area{
    border:1px solid lightgray;
    background-color: white;
}
.logo-area{
    padding:1% 2%;
    border-bottom:1px solid lightgray;
}
.bizVaultNav {
    float: left;
    width: 5%;
    min-height: 450px;
    text-align: center;
}
.bizVaultNav ul {
    list-style-type: none;
    padding: 0;
}
.bizVaultArticle {
    float: left;
    padding: 20px;
    width: 95%;
    min-height: 450px;
}
.bizVaultSection:after {
    content: "";
    display: table;
    clear: both;
}
.bizVaultFooter {
    padding: 10px;
    text-align: center;
}
@media (max-width: 600px) {
    .bizVaultNav, .bizVaultArticle {
        width: 100%;
        height: auto;
    }
}