.modal-financing-table > tbody > tr > td {
  padding-top:3%;padding-bottom:3%;
}
.div-cont-amount {
  background-color: #474628;
  height: 180px;
}
.div-cont-amount-bonding-services {
  background-color: #49442b;
  height: 180px;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #ACA588;
  font-size: 50px;
}
#l-height {
      line-height: 0.428571;
  }
.text-white {
  color: white;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.pt-6 {
  padding-top: 6px;
}
.vl {
  border-left: 6px solid #31859c;
  height: 120px;
  position: absolute;
  left: 100%;
  margin-left: -3px;
  top: 10px;
}
.vl-1 {
  border-left: 6px solid #31859c;
  height: 120px;
  position: absolute;
  left: 100%;
  margin-left: -3px;
  top: 0px;
}
.vl-bonding-services {
  border-left: 6px solid #31859c;
  height: 139px;
  position: absolute;
  left: 100%;
  margin-left: -3px;
  top: 10px;
}
.cus-border {
  border: 2px solid; 
  border-color: #93ccdd;
}
.new5 {
  border: 3px solid #93ccdd;
  border-radius: 2px;
}
.color-1 {
  color: #31859c;
}
.color-2 {
  color: #5F898C;
}
.color-3 {
  color: #3285A1;
}
.bg-1 {
  background-color:#10253f;
}
.bg-2 {
  background-color:#31859c;
}
.bg-button {
  background-color: #768B47;
}
.custom-btn {
   background-color: #e46c0b; 
   border-radius: 10px;
}
.custom-btn-1 {
   background-color: #31859d;
   border-radius: 14px;
}
.font-48 {
  font-size: 48px;
}
.font-30 {
  font-size: 30px;
}
.font-25 {
  font-size: 25px;
}
.font-20 {
  font-size: 20px;
}
.font-17 {
  font-size: 17px;
}
.font-13 {
  font-size: 13px;
}
.font-10 {
  font-size: 10px;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.correct-div {
  padding-left: 32px; padding-right: 32px;
}
.bg-correct {
  background-color: #DCEDF4;
}
.text-correct {
  font-size: 16px;
  margin-top: 20px;
}
.option {
  font-size: 16px;
  margin-top: 5px;
}
.icon-clock {
  background-color: #328DEE;
  color: white;
  width: 20px;
  height: 20px;
  padding-top: 3px;
}
.icon-hearbeat {
  background-color: #328DEE;
  color: white;
  width: 20px;
  height: 20px;
  padding-top: 3px;
}
.icon-user {
  background-color: #328DEE;
  color: white;
  width: 20px;
  height: 20px;
  padding-top: 3px;
}
.light-blue {
  color: #328DEE;
}
.bg-light-blue-1 {
  background-color: #93CCDD;
}
.m-6 {
  margin: 6px;
}
.h-line {
  border: 6px solid #DCEFF3;
  border-radius: 2px;
}
.v-line-left {
  border-left: 6px solid #DCEFF3;
  height: 133px;
  position: absolute;
  left: 100%;
  margin-left: -15px;
  top: 0px;
}
.v-line-right {
  border-left: 6px solid #DCEFF3;
  height: 133px;
  position: absolute;
  margin-left: -40px;
  top: 0px;
}
#b-none {
  border: none;
}
.d-none {
  display: none;
}